%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 22.212581344902386% 75%;
}

%svg-arrow-alt-circle-down-dims {
	width: 512px;
	height: 512px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 78.36217813423386% 0;
}

%svg-arrow-right-dims {
	width: 448px;
	height: 512px;
}

%svg-css3 {
	@extend %svg-common;
	background-position: 66.63774403470715% 75%;
}

%svg-css3-dims {
	width: 512px;
	height: 512px;
}

%svg-envelope {
	@extend %svg-common;
	background-position: 99.97396963123644% 25%;
}

%svg-envelope-dims {
	width: 512px;
	height: 512px;
}

%svg-facebook {
	@extend %svg-common;
	background-position: 97.27311101730687% 75%;
}

%svg-facebook-dims {
	width: 448px;
	height: 512px;
}

%svg-facebook-messenger {
	@extend %svg-common;
	background-position: 54.048121570282824% 25%;
}

%svg-facebook-messenger-dims {
	width: 448px;
	height: 512px;
}

%svg-git {
	@extend %svg-common;
	background-position: 0 50%;
}

%svg-git-dims {
	width: 448px;
	height: 512px;
}

%svg-google-plus-square {
	@extend %svg-common;
	background-position: 18.910932883073027% 50%;
}

%svg-google-plus-square-dims {
	width: 448px;
	height: 512px;
}

%svg-gulp {
	@extend %svg-common;
	background-position: 34.98633346349082% 50%;
}

%svg-gulp-dims {
	width: 256px;
	height: 512px;
}

%svg-html5 {
	@extend %svg-common;
	background-position: 47.348951911220716% 50%;
}

%svg-html5-dims {
	width: 384px;
	height: 512px;
}

%svg-js {
	@extend %svg-common;
	background-position: 78.36217813423386% 25%;
}

%svg-js-dims {
	width: 448px;
	height: 512px;
}

%svg-mysql {
	@extend %svg-common;
	background-position: 0 75%;
}

%svg-mysql-dims {
	width: 512px;
	height: 512px;
}

%svg-php {
	@extend %svg-common;
	background-position: 29.41662838768948% 0;
}

%svg-php-dims {
	width: 640px;
	height: 512px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 44.42516268980477% 75%;
}

%svg-plus-circle-dims {
	width: 512px;
	height: 512px;
}

%svg-sass {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-sass-dims {
	width: 640.4px;
	height: 512px;
}

%svg-search {
	@extend %svg-common;
	background-position: 99.97396963123644% 0;
}

%svg-search-dims {
	width: 512px;
	height: 512px;
}

%svg-share-square {
	@extend %svg-common;
	background-position: 25.70281124497992% 25%;
}

%svg-share-square-dims {
	width: 576px;
	height: 512px;
}

%svg-viber {
	@extend %svg-common;
	background-position: 99.97396963123644% 50%;
}

%svg-viber-dims {
	width: 512px;
	height: 512px;
}

%svg-vk {
	@extend %svg-common;
	background-position: 57.13520749665329% 0;
}

%svg-vk-dims {
	width: 576px;
	height: 512px;
}

%svg-wordpress {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-wordpress-dims {
	width: 512px;
	height: 512px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 0 25%;
}

%svg-youtube-dims {
	width: 576px;
	height: 512px;
}

