<ul class="menu">
	<li class="menu__item @@if (menu_item_current === 'home') {menu__item_current}">
		<a href="/ru" class="menu__a">Услуги</a>
	</li>
	<li class="menu__item @@if (menu_item_current === 'works') {menu__item_current}">
		<a href="/ru/works" class="menu__a">Работы</a>
	</li>
	<li class="menu__item @@if (menu_item_current === 'about') {menu__item_current}">
		<a href="/ru/about.html" class="menu__a">Обо мне</a>
	</li>
	<li class="menu__item @@if (menu_item_current === 'contacts') {menu__item_current}">
		<a href="/ru/contacts.html" class="menu__a">Контакты</a>
	</li>
</ul>