@import "../../sass/variables";
@import "../../sass/functions";
@import "../../sass/extends";
@import "../../sass/mixins";

.footer{
	padding: 20px 0;
	background: #FFF;
    box-shadow: 0 -1px 11px rgba(0, 0, 0, 0.21);
    
	@media(max-width: 1200px){
		
	}
}