<ul class="menu">
	<li class="menu__item @@if (menu_item_current === 'home') {menu__item_current}">
		<a href="/" class="menu__a">Services</a>
	</li>
	<li class="menu__item @@if (menu_item_current === 'works') {menu__item_current}">
		<a href="/works" class="menu__a">Works</a>
	</li>
	<li class="menu__item @@if (menu_item_current === 'about') {menu__item_current}">
		<a href="/about.html" class="menu__a">About</a>
	</li>
	<li class="menu__item @@if (menu_item_current === 'contacts') {menu__item_current}">
		<a href="/contacts.html" class="menu__a">Contacts</a>
	</li>
</ul>